*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
}

.topico{
    color: white;
    text-align: center;
}

h1{
    padding: 35px;
}

main{
    color: white;
    margin: 100px;
}

.img1{
    display: flex;
    text-align: center;
    align-items: center;
}
